
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/


.ipynb_checkpoints/


*.csv
*.xlsx
*.json
!manifest.json # Example exception if you have configuration files


*.pkl
*.joblib
*.h5


.env

.vscode/
.idea/